.powered-area{
    padding: 80px 0 80px;
    @media (max-width: 991.98px){
        padding: 50px;
    }
}

.powered-content{
    .h4{
        text-align: center;
    }
    ul{
        display: flex;
        gap: 34px;
        row-gap: 22px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        li{}
    }
}