.staking-wrapper {
  background-image: url("../../../images/hero-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.staking-portal {
  padding-top: 170px;
  @media (max-width: 991.98px) {
    padding-top: 140px;
  }

  .container {
    @media (min-width: 1400px) {
      max-width: 1200px;
    }
  }
}

.staking-portal-content {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 50px;
  padding-top: 70px;
  @media (max-width: 1199.98px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 991.98px) {
    padding-top: 30px;
  }
}

.staking-category {
  border-radius: 10px;
  border: 1px solid #f2c77b;
  padding: 40px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 1199.98px) {
    max-width: 700px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575.98px) {
    gap: 10px;
    padding: 25px 20px;
  }
  .category-item {
    border-radius: 10px;
    border: 1px solid #0c5270;
    background: #002c4b;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    min-height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-family: "Urbanist";
      font-weight: 600;
      line-height: 1;
    }

    .h3 {
      font-family: "Urbanist";
      font-weight: 900;
      padding: 5px 0;
    }

    span {
      color: #fff;
      font-family: "Urbanist";
      font-size: 16px;
      font-weight: 500;
      opacity: 0.5;
    }

    &:last-child {
      grid-column: span 2;
    }

    .category-button {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 0 35px;
      @media (max-width: 575.98px) {
        gap: 10px;
        padding: 20px 10px 0;
      }

      button {
        font-family: "Urbanist";
        height: 44px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #1f1e19;
        border-radius: 5px;
        @media (max-width: 575.98px) {
          font-size: 15px;
        }

        &:first-child {
          background: var(
            --DHS-Yellow,
            linear-gradient(180deg, #f2c77b 0%, rgba(242, 199, 123, 0.76) 100%)
          );
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .category-text {
      color: #fff;
      font-size: 11px;
      opacity: 0.6;
      line-height: 20px;
      padding: 3px 35px 0;
      text-align: left;
      @media (max-width: 575.98px) {
        padding: 4px 15px;
      }
    }
  }
}

.stake-content {
  border-radius: 10px;
  border: 1px solid #f2c77b;
  padding: 30px 30px 15px 30px;
  @media (max-width: 1199.98px) {
    max-width: 600px;
    margin: 0 auto;
  }
  @media (max-width: 575.98px) {
    padding: 25px;
  }

  .h3 {
    color: #f2c77b;
    font-family: "Vermin Vibes";
    font-weight: 400;
    text-align: center;
  }

  p {
    font-size: 14px;
    opacity: 0.8;
    color: #fff;
    font-family: "Urbanist";
    font-weight: 500;
    text-align: center;
  }

  .stake-form {
    border-radius: 5px;
    background: #002c4b;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 15px 15px 7px 15px;
    margin-top: 7px;

    .stake-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;

      span {
        display: grid;
      }

      strong {
        color: #fff;
        font-family: "Urbanist";
        font-size: 14px;
        font-weight: 700;
        opacity: 0.5;
        padding-top: 6px;
      }

      input {
        border: 0;
        outline: none;
        box-shadow: none;
        background: none;
        color: #fff;
        font-family: "Urbanist";
        font-size: 20px;
        font-weight: 700;
        width: 160px;

        &::placeholder {
          color: #fff;
        }
      }
    }

    .stake-available {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(255, 255, 255, 0.5);

      p {
        font-weight: 600;
      }
    }
  }

  .btn-lg {
    margin: 0 auto 6px;
    background: linear-gradient(
      180deg,
      #f2c77b 0%,
      rgba(242, 199, 123, 0.76) 100%
    );
    color: #1f1e19;
    font-family: "Urbanist";
    border: 0;
  }

  .purest {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 20px 0 35px;

    li {
      border-radius: 5px;
      background: #002c4b;
      box-shadow: 0px 5.16783px 5.16783px 0px rgba(0, 0, 0, 0.15) inset;
      width: 53.706px;
      height: 29.754px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: "Urbanist";
      font-size: 16px;
      font-weight: 400;
      opacity: 0.5;
      cursor: pointer;

      @media (max-width: 575.98px) {
        width: 40px;
        font-size: 14px;
      }

      &.active {
        background: linear-gradient(
          180deg,
          #f2c77b 0%,
          rgba(242, 199, 123, 0.76) 100%
        );
        color: #1f1e19;
        opacity: 1;
        font-weight: 600;
      }
    }
  }
}
