.footer-area{
    background: #010A12;
    .container{
        @media (min-width: 1400px){
            max-width: 1394px;
        }
    }
    
}

.copyright-content{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 253, 107, 0.144);
   
    padding: 20px 0;
    @media (max-width: 575.98px){
        display: grid;
        text-align: center;
        p{
            order: 1;
        }
    }
    ul{
        display: flex;
        gap: 15px;
        @media (max-width: 575.98px){
            padding-bottom: 10px;
        }

        @media (max-width: 575.98px){
            justify-content: center;
        }
        li{ 
        }
    }
}
